*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-image: linear-gradient(80deg, rgba(218, 204, 204, 0.342), rgb(255, 255, 255), rgba(218, 204, 204, 0.342));
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 12rem;
  background-image: linear-gradient(80deg, rgb(255, 255, 255), rgba(218, 204, 204, 0.342), rgb(255, 255, 255) 100%);
}

.header__favourites-shopping-bag {
  width: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header__favourites {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem;
}

.header__shopping-bag:hover {
  cursor: pointer;
}

.item-count {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(233, 87, 196);
  margin-left: 0.5em;
}

.logo {
  width: 5rem;
  height: 5rem;
  fill: rgb(0, 0, 0);
  stroke: rgb(0, 0, 0);
}

.shopping-bag {
  width: 2rem;
  height: 2rem;
}
/* .shopping-bag:hover {
  fill: rgb(233, 87, 196);
} */

.navigation {
  display: none;
}
.navbar {
  width: 50%;
}
.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  transition: all 0.2s;
}

.navbar__list--item-link {
  text-decoration: none;
}
.navbar__list--item-link:visited {
  color: #000;
}
.navbar__list--item-link:hover {
  color: rgb(233, 87, 196);
}

.shop {
  margin: 2rem 0 4rem 12rem;
  /* margin-left: 12rem;
  margin-bottom: 4rem; */
  display: grid;
  grid-template: repeat(1fr, 5) / repeat(1fr, 4);
  grid-gap: 1rem;
  padding: 2rem 12rem 2rem 0;
}

.shop__item {
  position: relative;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.shop__item:hover {
  cursor: pointer;
}

.shop__item--1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}
.shop__item--2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.shop__item--3 {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
}
.shop__item--4 {
  grid-row: 1 / 2;
  grid-column: 4 / 5;
}
.shop__item--5 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}
.shop__item--6 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.shop__item--7 {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
.shop__item--8 {
  grid-row: 2 / 3;
  grid-column: 4 / 5;
}

.shop__item--header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(231, 226, 226, 0.877);
  width: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  padding: 1.5rem 2rem;
}

.shop__item--title {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.favourites {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.heart,
.heart-filled {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  fill: rgb(233, 87, 196);
}

.heart-filled-hidden {
  display: none;
}

.heart:hover,
.heart-filled:hover {
  cursor: pointer;
}

.shop__item--price {
  padding: 0.4rem 1rem;
  background-color: rgba(255, 255, 255, 0.664);
  width: 5rem;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 0.75rem;
  border-radius: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop__item--img-cont {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop__item--img {
  width: 100%;
}

.sizes-addtocart {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 23%;
  align-content: center;
  background-color: rgba(231, 226, 226);
  font-size: 1.1rem;
  font-weight: 400;
}

.sizes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.size {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  background-color: #ffffffda;
  border-radius: 5px;
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.size:hover {
  cursor: pointer;
}

.size-active {
  background-color: rgb(233, 87, 196);
  color: #fff;
  z-index: 10000;
}

.size-active-popup {
  background-color: #000000;
  color: #fff;
}
.add {
  padding: 1rem;
  background-color: #ffffffda;
  border-radius: 5px;
  margin: 0.5rem;
  width: 40%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: capitalize;
  font-size: 1rem;
  border: 1px solid transparent;
}

.add:hover {
  cursor: pointer;
}

.add:active,
.add:focus {
  border: 1px solid rgba(156, 156, 156, 0.76);
}

.availability {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 0.75rem;
  margin: 0 0.5rem;
  padding: 1rem;
}

.available {
  color: #3f3e3e;
}

.colors {
  /* margin-top: 0.5rem; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.color {
  width: 1rem;
  height: 1rem;
  border-radius: 5px;
  display: flex;
  margin-right: 0.5rem;
  border: 0.2px solid rgba(172, 172, 172, 0.445);
}

.color:hover {
  cursor: pointer;
}

.white {
  background-color: #fff;
}

.black {
  background-color: #000;
}

.brown {
  background-color: brown;
}

.expand {
  fill: rgba(233, 87, 197, 0.726);
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__close {
  text-decoration: none;
  font-size: 3rem;
  position: absolute;
  top: 1rem;
  right: 2.5rem;
  display: inline-block;
}

.popup__close:link,
.popup__close:visited {
  color: #000;
}

.popup__content {
  width: 70%;
  background-color: #fff;
  box-shadow: 0, 2rem, 4rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  display: table;
}

.popup__left {
  margin: 0;
  display: table-cell;
  width: 30%;
  vertical-align: middle;
}

.popup__right {
  display: table-cell;
  margin: 0;
  width: 50%;
  padding: 1rem 3rem;
  vertical-align: middle;
}

.popup__img {
  display: block;
  width: 100%;
  margin: 0;
}

.popup__img--wrapper {
  width: 100%;
  border-radius: 2rem 0 0 2rem;
  overflow: hidden;
}

.popup__title {
  text-transform: uppercase;
}

.popup__price-fav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 3rem 2rem 0;
}

.popup__price {
  font-size: 1.4rem;
  font-weight: 500;
}

.popup__text {
  text-align: left;
  margin-bottom: 2rem;
}

.popup__sizes-addtocart {
  box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.452);
  font-size: inherit;
  padding: 1.5rem;
  width: 50%;
  border-radius: 2rem;
}

.popup__sizes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.popup__size {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  background-color: #ffffffda;
  border-radius: 5px;
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
  box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.21);
}

.popup__size:hover {
  cursor: pointer;
}
.popup__availability {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 0.75rem;
  box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.21);
  margin: 1rem 0.5rem;
  padding: 1rem;
}

.popup__colors {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.popup__color {
  width: 1rem;
  height: 1rem;
  border-radius: 5px;
  display: flex;
  margin-right: 0.5rem;
  border: 0.2px solid rgba(172, 172, 172, 0.445);
}
.popup__color:hover {
  cursor: pointer;
}
.popup__add {
  padding: 1rem;
  background-color: #ffffffda;
  box-shadow: 0px 2px 12px -1px rgba(0, 0, 0, 0.21);
  border-radius: 5px;
  margin: 0.5rem;
  width: 40%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  border: 1px solid transparent;
}

.popup__add:hover {
  cursor: pointer;
}

.popup__add:active,
.popup__add:focus {
  border: 1px solid rgba(156, 156, 156, 0.76);
}

.footer {
  background-color: rgb(212, 209, 209);
  padding: 10rem 7rem;
  font-size: 1.3rem;
}

.footer__navigation {
  margin-bottom: 1rem;
  display: inline-block;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(170, 166, 166);
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link,
.footer__link:link,
.footer__link:visited {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__copyright {
  margin-top: 1.5rem;
  width: 100%;
  font-size: 1.2rem;
}

@media screen and (max-width: 1025px) {
  .shop {
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(1fr, 3);
  }

  .shop__item--1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .shop__item--2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .shop__item--3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
  .shop__item--4 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .shop__item--5 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  .shop__item--6 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
  }
  .shop__item--7 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  .shop__item--8 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }
}

@media screen and (max-width: 769px) {
  .header {
    padding: 3rem 7rem;
  }

  .popup__img--wrapper {
    border-radius: 0;
    padding-left: 1rem;
  }

  .popup__sizes-addtocart {
    width: 100%;
  }

  .shop {
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 4);
  }

  .shop__item--1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  .shop__item--2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
  .shop__item--3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  .shop__item--4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
  .shop__item--5 {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  .shop__item--6 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }
  .shop__item--7 {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }
  .shop__item--8 {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
  }
}

@media screen and (max-width: 426px) {
  .popup {
    display: none;
  }

  .expand {
    display: none;
    visibility: hidden;
  }

  .header {
    align-items: center;
    padding: 2rem 5rem;
  }
  .navbar {
    display: none;
  }

  .header__favourites-shopping-bag {
    display: none;
  }

  .navigation {
    display: block;
  }

  .navigation__checkbox {
    display: none;
    position: fixed;
    top: 2.2rem;
    right: 7rem;
  }

  .navigation__button {
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 2.2rem;
    right: 5rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(#000, 0.1);
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .navigation__icon {
    position: relative;
    margin-top: 0.2rem;
  }

  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 4rem;
    height: 2px;
    background-color: rgba(39, 38, 38, 0.342);
    display: inline-block;
  }

  .navigation__icon::before,
  .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  .navigation__icon::before {
    top: -0.5rem;
  }
  .navigation__icon::after {
    top: 0.5rem;
  }

  .navigation__favourites {
    width: 1.5rem;
    height: 1.5rem;
  }

  .navigation__shopping-bag {
    width: 1.5rem;
    height: 1.5rem;
  }

  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    background-color: #c0bebeb9;
  }

  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  .navigation__item {
    margin: 1rem;
  }

  .navigation__link,
  .navigation__link:link,
  .navigation__link:visited .navigation__favourites:link,
  .navigation__shopping-bag:link,
  .navigation__favourites:visited,
  .navigation__shopping-bag:visited {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: inherit;
    padding: 0.5rem 2rem;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s;
  }

  .navigation__link:hover,
  .navigation__link:active {
    color: rgba(233, 87, 197, 0.726);
  }

  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80);
  }

  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
  }

  .navigation__icon {
    position: relative;
    margin-top: 3.5rem;
  }

  .navigation__icon,
  .navigation__icon::before,
  .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #111;
    display: inline-block;
  }

  .navigation__icon::before,
  .navigation__icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  .navigation__icon::before {
    top: -0.8rem;
  }
  .navigation__icon::after {
    top: 0.8rem;
  }

  .navigation__button:hover .navigation__icon::before {
    top: -1rem;
  }

  .navigation__button:hover .navigation__icon::after {
    top: 1rem;
  }

  .shop {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 8);
    grid-gap: 2rem;
    padding: 2.5rem;
    margin: 2rem 0 0 0;
  }

  .shop__item--1 {
    grid-row: 1 / 2;
    grid-column: 1 / 1;
  }
  .shop__item--2 {
    grid-row: 2 / 3;
    grid-column: 1 / 1;
  }
  .shop__item--3 {
    grid-row: 3 / 4;
    grid-column: 1 / 1;
  }
  .shop__item--4 {
    grid-row: 4 / 5;
    grid-column: 1 / 1;
  }
  .shop__item--5 {
    grid-row: 5 / 6;
    grid-column: 1 / 1;
  }
  .shop__item--6 {
    grid-row: 6 / 7;
    grid-column: 1 / 1;
  }
  .shop__item--7 {
    grid-row: 7 / 8;
    grid-column: 1 / 1;
  }
  .shop__item--8 {
    grid-row: 8 / 9;
    grid-column: 1 / 1;
  }

  .availability {
    width: 35%;
  }

  .add {
    width: 30%;
  }

  .sizes-addtocart {
    justify-content: center;
    align-items: center;
    height: 10rem;
  }

  .footer {
    font-size: 1.1rem;
  }
}
